/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <behaviors/num_word.dtsi>

#ifndef KEYMAP_DRAWER
#include "keys_de.h"
#include "macros.h"
#endif

#include "key-labels.h"
#include "mouse.dtsi"

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5

#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2

&caps_word {
    continue-list = <DE_MINUS LS(DE_MINUS) BSPC>;
};

&num_word {
  continue-list = <LEFT RIGHT UP DOWN BSPC DEL DE_DOT DE_COMMA DE_PLUS DE_MINUS DE_ASTRK DE_FSLH DE_EQUAL LSHFT RSHFT DE_GT DE_LT>;
};

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
  behaviors {
    nav_word: nav_word {
      compatible = "zmk,behavior-auto-layer";
      #binding-cells = <1>;
      continue-list = <MOVE_LEFT MOVE_DOWN MOVE_UP MOVE_RIGHT SCRL_LEFT SCRL_DOWN SCRL_UP SCRL_RIGHT LCLK RCLK>;
      ignore-modifiers;
    };
  };
};

/ {
    behaviors {
        hml: HomeRowModLeft {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < KEYS_R THUMBS >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };
        hmr: HomeRowModRight {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < KEYS_L THUMBS >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };
        cwl: CapsWordLayer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&nav_word>, <&caps_word>;
        };
        nwsk: NavwordSticky {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&sk>;
        };
        nwl: NumWorkdLayer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&num_word>, <&kp>;
        };
    };
};


/ {
  beaviors {
    sq: SlashQuestion {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DE_SLASH>, <&kp DE_QMARK>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    bsl: BackslashPipe {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DE_BSLH>, <&kp DE_PIPE>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    ht_bsl: HyperBsl {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      bindings = <&kp>, <&bsl>;
    };
    quotes: SingleAndDouble {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&quotes_alt>, <&kp DE_DOUBLE_QUOTES>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    quotes_alt: SingleAndGraveLeft {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&quotes_ralt>, <&grave_lalt>;
      mods = <(MOD_LALT)>;
      keep-mods = <(MOD_LALT)>;
    };
    quotes_ralt: SingleAndGraveRight {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DE_APOS>, <&grave_ralt>;
      mods = <(MOD_RALT)>;
      keep-mods = <(MOD_RALT)>;
    };
    pltild: PlusAndTilde {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&hmr RALT DE_PLUS>, <&kp DE_TILDE>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    bspcgrave: BackspaceAndGrave {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp BSPC>, <&kp DE_GRAVE>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    hm_a: HomeRowAUmlaut {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&hml LALT DE_A>, <&kp DE_A_UMLAUT>;
      mods = <(MOD_RALT)>;
    };
    hm_s: HomeRowEszett {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&hml LCTRL DE_S>, <&kp DE_ESZETT>;
      mods = <(MOD_RALT)>;
    };
    u_umlaut: UUmlaut {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DE_U>, <&kp DE_U_UMLAUT>;
      mods = <(MOD_RALT|MOD_LALT)>;
    };
    o_umlaut: OUmlaut {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DE_O>, <&kp DE_O_UMLAUT>;
      mods = <(MOD_RALT|MOD_LALT)>;
    };
    lbkt_par: LeftBracketdParen {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DE_LBKT>, <&kp DE_LPAR>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    rbkt_par: RightBracketdParen {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DE_RBKT>, <&kp DE_RPAR>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    lbrc_lt: LeftBraceLessThan {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DE_LBRC>, <&kp DE_LT>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    rbrc_gt: RightBraceGreaterThan {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DE_RBRC>, <&kp DE_GT>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    td_layer_astrk: TapDanceLayerAstrk {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&lt 1 DE_ASTRK>, <&lt 2 DE_ASTRK>;
    };
    td_num_hash: TapDanceNumHash {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp DE_HASH>,  <&num_word 1>;
    };
    td_layer_ralt: TapDanceLayerHash {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&mo 2>, <&kp RALT>;
    };
    td_cw_nw_nw: TapDanceCapsWordNumWordNavWord {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&caps_word>, <&num_word 1>, <&nav_word 2>;
    };
  };
};

/ {
  macros {
    grave_lalt: grave_macro_lalt {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      wait-ms = <10>;
      tap-ms = <10>;
      bindings
        = <&macro_release &kp LALT>
        , <&macro_tap &kp DE_GRAVE &kp SPACE>
        , <&macro_press &kp LALT>;
    };
    grave_ralt: grave_macro_ralt {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      wait-ms = <10>;
      tap-ms = <10>;
      bindings
        = <&macro_release &kp RALT>
        , <&macro_tap &kp DE_GRAVE &kp SPACE>
        , <&macro_press &kp RALT>;
    };
  };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_l_bkt {
            timeout-ms = <50>;
            key-positions = <RM1 RM2>;
            bindings = <&lbkt_par>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_r_bkt {
            timeout-ms = <50>;
            key-positions = <RM2 RM3>;
            bindings = <&rbkt_par>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_l_brc {
            timeout-ms = <50>;
            key-positions = <RB1 RB2>;
            bindings = <&lbrc_lt>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_r_brc {
            timeout-ms = <50>;
            key-positions = <RB2 RB3>;
            bindings = <&rbrc_gt>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_caret {
            timeout-ms = <50>;
            key-positions = <RB0 RB1>;
            bindings = <&kp DE_CARET>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_eql {
            timeout-ms = <50>;
            key-positions = <RT1 RT3>;
            bindings = <&kp DE_EQUAL>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_amps {
            timeout-ms = <50>;
            key-positions = <RT0 RT1>;
            bindings = <&kp DE_AMPS>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_dllr {
            timeout-ms = <50>;
            key-positions = <RB3 RB4>;
            bindings = <&kp DE_DLLR>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_quote {
            timeout-ms = <50>;
            key-positions = <RM2 RB2>;
            bindings = <&quotes>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_colon {
            timeout-ms = <50>;
            key-positions = <RM1 RM3>;
            bindings = <&kp DE_COLON>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_prcnt {
            timeout-ms = <50>;
            key-positions = <RB1 RB3>;
            bindings = <&kp DE_PRCNT>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_excl {
            timeout-ms = <50>;
            key-positions = <RT2 RM2>;
            bindings = <&kp DE_EXCL>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
        combo_at {
            timeout-ms = <50>;
            key-positions = <RT3 RT4>;
            bindings = <&kp DE_AT>;
            require-prior-idle-ms = <150>;
            layers = <0 1 2>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTZ";
            bindings = <
                &kp TAB       &kp DE_Q  &kp DE_W &kp DE_E        &kp DE_R       &kp DE_T     &kp C_PP     &kp EMOJI    &kp DE_Z &u_umlaut      &kp DE_I        &o_umlaut       &kp DE_P     &bspcgrave
                &mt HYPER ESC &hm_a     &hm_s    &hml LSHFT DE_D &hml LGUI DE_F &kp DE_G     &kp C_VOL_DN &kp C_VOL_UP &kp DE_H &hmr RGUI DE_J &hmr RSHFT DE_K &hmr RCTRL DE_L &pltild      &ht_bsl HYPER 0
                &kp LS(TAB)   &kp DE_Y  &kp DE_X &kp DE_C        &kp DE_V       &kp DE_B                               &kp DE_N &kp DE_M       &kp DE_COMMA    &kp DE_DOT      &kp DE_MINUS &sq
                                                 &nwsk 2 RALT    &lt 1 DE_HASH  &kp SPACE                              &kp RET  &lt 1 DE_ASTRK &td_cw_nw_nw 
            >;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
                &trans &trans          &kp DE_N7        &kp DE_N8        &kp DE_N9        &trans &kp PASSWORD &rgb_ug RGB_TOG &trans   &trans         &trans         &trans           &trans   &trans
                &trans &hml LALT DE_N0 &hml LCTRL DE_N4 &hml LSHFT DE_N5 &hml LGUI DE_N6  &trans &kp C_PREV   &kp C_NEXT      &kp LEFT &hmr RGUI DOWN &hmr RSHFT UP  &hmr RCTRL RIGHT &kp RALT &trans
                &trans &trans          &kp DE_N1        &kp DE_N2        &kp DE_N3        &trans                              &trans   &trans         &trans         &trans           &trans   &trans
                                                        &trans           &trans           &trans                              &trans   &trans         &trans
            >;
        };

        raise_layer {
            display-name = "MOUSE";
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans &trans    &trans  &studio_unlock &trans   &msc SCRL_LEFT &msc SCRL_UP   &msc SCRL_DOWN &msc SCRL_RIGHT &trans &trans
                &trans       &trans       &trans       &trans &mkp LCLK &trans  &trans         &trans   &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP   &mmv MOVE_RIGHT &trans &trans
                &trans       &trans       &trans       &trans &mkp RCLK &trans                          &trans         &trans         &trans         &trans          &trans &trans 
                                                       &trans &trans    &trans                          &mkp LCLK      &mkp RCLK      &trans
            >;
        };
    };
};
